@import url(generic.css);

a, a:visited {
  color: #00984b;
}

a:hover {
/*  text-shadow: #0090ff 0px 0px 2px; */
  text-decoration: underline;
/*  color: #00984b; */
}

body {
  background: #1bb26b;
  color: #000000;
}

#main_content_wrap {
  border-top: 0;
  border-bottom: 0;
}

#footer_wrap {
  background: #324238;
  margin-top: 20px;
}

#pipelinelabs_header_wrap {
  background: #324238;
  height: 112px;
}

#pipelinelabs_header_wrap .inner_header {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#pipelinelabs_title {
  background: url('../images/pipelinelabs-white.png') no-repeat;
  margin: 0;
  position: absolute;
  top: 31px;
  left: 6px;
  
  width: 250px;
  height: 50px;
  color: #324238;
  font-size: 42px;
  font-weight: 700;
  text-indent: -5000px;
}

#pipelinelabs_tagline {
  color: #F2F2F2;
  font-size: 18px;
  font-weight: 300;
  text-indent: -5000px;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#project_header_wrap {
  background: #1bb26b;
}

#project_header_wrap .inner_header {
  padding: 50px 10px 50px 10px;
  height: 125px;
}

#project_title {
  background: url('../images/pipeline-green.png') no-repeat;
  margin: 0;
  width: 370px;
  height: 100px;
  color: #324238;
  font-size: 42px;
  font-weight: 700;
  text-indent: -5000px;
  float: left;
}

#project_tagline {
  color: #fff;
  width: 400px;
  float:right;
  margin-top: 20px;
  
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
}

#project_tagline p, #project_tagline blockquote {
  padding: 5px;
  margin: 0px;
}

