@import url(generic.css);

a {
  color: #edbf09;
}

#main_content a:hover {
  color: #edbf09;
  text-shadow: #000000 0px 0px 2px;
}

footer a:hover {
  color: #edbf09;
  text-shadow: #000000 0px 0px 2px;
}

#footer_wrap {
  background: #000000;
}

#pipelinelabs_header_wrap {
  background: #000000;
}

#pipelinelabs_header_wrap .inner_header {
  padding: 25px 10px 10px 10px;
}

#pipelinelabs_title {
  background: url('../images/pipelinelabs-white.png') no-repeat;
  margin: 0;
  width: 250px;
  height: 50px;
  color: #000000;
  font-size: 42px;
  font-weight: 700;
  text-indent: -5000px;
}

#pipelinelabs_tagline {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-indent: -5000px;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#project_header_wrap {
  background: #ffd602;
}

#project_header_wrap .inner_header {
  padding: 50px 10px 50px 10px;
  height: 125px;
}

#project_title {
  background: url('../images/pipeline-yellow.png') no-repeat;
  margin: 0;
  width: 370px;
  height: 100px;
  color: #000000;
  font-size: 42px;
  font-weight: 700;
  text-indent: -5000px;
  float: left;
}

#project_tagline {
  color: #000;
  width: 400px;
  float:right;
  margin-top: 20px;
  
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
}

#project_tagline p, #project_tagline blockquote {
  padding: 5px;
  margin: 0px;
  color: #000;
}

